[core]
  editor = nvim

[color]
  ui = auto

[sendemail]
  confirm = always
  suppresscc = self

[diff]
  tool = nvimdiff

[difftool]
  prompt = false

[difftool "nvimdiff"]
  cmd = "nvim -d -R -M \"$LOCAL\" \"$REMOTE\""

[alias]
  l1 = log --color --graph --pretty=format:\"%C(bold blue)%h%Creset   %C(green)%d%Creset %s %C(yellow)%an %C(italic magenta)%ad %Creset\" --abbrev-commit --decorate --date=format:'%Y-%m-%d %H:%M:%S'
  ll = l1 --all

[user]
	name = Hashem Hashem

[merge]
	ff = only

[init]
	defaultBranch = main

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[push]
	default = current
	autoSetupRemote = true
